// - Imports
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

// - Variables - 8 point Grid
$nPadding: 4px;
$nMargin: 4px;
$nRadius: 4px;

$vColor-Dark: #28282b;
$vColor-White: #ffffff;
$vColor-Grey: #f4f4f4;

// - Code - camelCase
// ! melhorar o Flex e Grid
* {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-style: normal;
}

html {
	scroll-behavior: smooth;// Rolada suave >:)
}
body {
	background-color: #ccccff; // Periwinkle - HTML Color
	margin: 0;
	padding: 0;
	height: 100vh;

	&::-webkit-scrollbar {
		display: none;
	}

	#root {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 8px;
		margin: $nMargin * 2 0;
	}
}

.mainView {
	background-color: $vColor-White;
	max-width: 1336px;
	width: 100%;
	height: 652px;
	border-radius: $nRadius * 4;
	padding: $nPadding * 4;

	display: grid;
	grid-template-rows: 0.4fr 5.6fr;
	grid-template-areas:
		'NB'
		'B';
	gap: 8px;

	.navBar {
		grid-area: NB;
		padding: 0 12px;
		display: grid;
		grid-template-columns: repeat(3, 248px);
		justify-content: space-between;
		align-items: center;

		span {
			font-size: 20px;
			font-weight: bolder;
			&::after {
				// underLine
				content: '';
				width: 68px;
				display: block;
				height: 3.6px;
				border-radius: $nRadius * 10;
				background-color: #28282b;
				border: none;
			}
		}
		button {
			min-width: 36px;
			height: 36px;
			padding: $nPadding;
			background-color: transparent;
			border: none;
			cursor: pointer;
			font-size: 16px;
		}
		.fieldNav {
			display: flex;
			justify-content: center;
			gap: 4px;
		}
		button#menuButton {
			justify-self: end;
			svg {
				font-size: 28px;
			}
		}
	}
	.overBanner {
		grid-area: B;
		z-index: 2;
		padding: $nPadding * 10 $nPadding * 15;
		background-color: rgba(0, 0, 0, 0.507);
		border-radius: $nRadius * 4;

		display: grid;
		grid-template-rows: auto 30px 64px;
		grid-gap: 4px;
		flex-direction: column;
		color: white;
		h1 {
			font-size: 56px;
			margin: 0;
			align-self: end;
		}
		span {
			color: rgb(204, 218, 215);
			align-self: center;
		}
		button.saibaMais {
			background-color: #f4f4f4;
			max-width: 132px;
			height: 48px;
			border-radius: $nRadius * 10;
			border: none;
			padding: 4x 20px;
			font-weight: bolder;
			font-size: 16px;
			color: $vColor-Dark;
			cursor: pointer;
			align-self: center;
		}
		.btnCarousel {
			display: flex;
			gap: 8px;
			align-self: flex-end;

			button {
				width: 80px;
				height: 36px;
				border-radius: $nRadius * 10;
				border: none;
				cursor: pointer;
				&.backCarousel {
					background-color: transparent;
					border: 2px solid $vColor-White;
					color: white;
				}
				&.nextCarousel {
					color: royalblue;
				}
			}
		}
	}
	.banner {
		grid-area: B;
		background-color: royalblue;
		border-radius: $nRadius * 4;
		overflow: hidden;
		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}
}

.aboutUs {
	max-width: 1336px;
	width: 100%;
	height: 680px;
	padding: $nPadding * 4;
	border-radius: $nRadius * 4;
	background-color: $vColor-White;
	display: grid;
	grid-template-rows: 1.2fr 0.8fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		'B B'
		'W T';
	gap: 8px;
	.banner {
		grid-area: B;
	}
	.overBanner {
		background-color: royalblue;
		z-index: 2;
		grid-area: B;
		border-radius: $nRadius * 6;
	}
	.textUs {
		grid-area: T;
		background-color: seagreen;
		border-radius: $nRadius * 4;
	}
	h1.wordEffect {
		grid-area: W;
		font-size: 80px;
		justify-self: center;
		align-self: center;
		color: $vColor-Dark;
	}
}

.carousel {
	max-width: 1336px;
	width: 100%;
	height: 360px;
	background-color: $vColor-White;
	border-radius: $nRadius * 4;
}

.footer {
	max-width: 1336px;
	width: 100%;
	height: 520px;
	padding: $nPadding * 4;
	background-color: $vColor-White;
	border-radius: $nRadius * 4;
	display: grid;
	grid-template-rows: 1.2fr 0.8fr;
	gap: 8px;
	grid-template-areas:
		'I'
		'F';

	.imgFooter {
		grid-area: I;
		background-color: salmon;
		border-radius: $nRadius * 4;
	}
	.overImg {
		grid-area: I;
	}
	.trueFooter {
		grid-area: F;
		background-color: $vColor-Grey;
		border-radius: $nRadius * 4;
	}
}
